
<div class="row col-md-4">
  <div class="main">
    <br>
   
    <mat-card>{{MainText}}</mat-card>
    
   
  </div>
  
    <table mat-table style="width: 20%;">
      <tr>
        <td ><button class="keys ackey"  mat-raised-button color="primary" (click)="allClear()"> <span class="material-icons">clear</span></button></td>
        <td ><button class="keys ckey" mat-raised-button color="primary" (click)="bcksp()"><span class="material-icons">backspace</span></button></td>
        <td ><button mat-raised-button color="primary" class="keys opkey"  (click)="pressKey('/')">/</button></td>
      </tr>
      <tr>
        <td ><button class="keys numkey" mat-raised-button color="primary" (click)="pressKey('7')">7</button></td>
        <td ><button class="keys numkey" mat-raised-button color="primary" (click)="pressKey('8')">8</button></td>
        <td ><button class="keys numkey" mat-raised-button color="primary" (click)="pressKey('9')">9</button></td>
        <td ><button class="keys opkey" mat-raised-button color="primary" (click)="pressKey('*')">*</button></td>
      </tr>
      <tr>
        <td ><button class="keys numkey" mat-raised-button color="primary" (click)="pressKey('4')">4</button></td>
        <td ><button class="keys numkey" mat-raised-button color="primary" (click)="pressKey('5')">5</button></td>
        <td ><button class="keys numkey" mat-raised-button color="primary" (click)="pressKey('6')">6</button></td>
        <td ><button class="keys opkey" mat-raised-button color="primary" (click)="pressKey('-')">-</button></td>
      </tr>
      <tr>
        <td > <button class="keys numkey" mat-raised-button color="primary" (click)="pressKey('3')">3</button></td>
        <td ><button class="keys numkey" mat-raised-button color="primary" (click)="pressKey('2')">2</button></td>
        <td ><button class="keys numkey" mat-raised-button color="primary" (click)="pressKey('1')">1</button></td>
        <td ><button class="keys opkey" mat-raised-button color="primary" (click)="pressKey('+')">+</button></td>
      </tr>
      <tr>
        <td ><button colspan="2" class="keys numkey" mat-raised-button color="primary" (click)="pressKey('0')">0</button></td>
        <td ><button class="keys numkey" mat-raised-button color="primary" (click)="pressKey('.')">.</button></td>
        <td ><button class="keys equalkey" mat-raised-button color="primary" (click)="getres()">=</button></td>
      </tr>
    </table>
 
  
</div>

